* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  letter-spacing: 1px; }

*::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

body {
  font-family: 'Raleway';
  font-weight: 300;
  line-height: 120%; }

html, body {
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

strong {
  font-weight: normal; }

.bold {
  font-weight: 700; }

img {
  display: block;
  width: 100%; }

.img_icons {
  width: 50px;
  height: 50px; }

ul {
  list-style-type: none; }

a {
  display: block;
  text-decoration: none;
  font-family: lato;
  color: #fff; }

.block,
.change_display {
  display: block; }

.color_logo {
  color: #f58220; }

header,
.sections,
.button,
.p_box {
  position: relative; }

header::before,
.sections::before,
.button::before,
.p_box::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.button,
input[type=submit] {
  background-color: #f58220;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.button::before {
  border: 1px solid #233d4b;
  background-color: rgba(0, 0, 0, 0.02);
  -webkit-transition: .3s;
  transition: .3s; }

.button.button-left::before {
  top: 10px;
  left: 10px; }

.button.button-left:hover::before {
  top: 2px;
  left: 2px; }

.button-right {
  margin-left: auto; }

.button.button-right::before {
  top: 10px;
  left: -10px;
  margin-left: auto; }

.button.button-right:hover::before {
  top: 2px;
  left: -3px; }

.button.a-header::before {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.05);
  top: 10px;
  left: -10px; }

.button.a-header:hover::before {
  top: 2px;
  left: -3px; }

.button.a-header,
.a-sections,
.button {
  width: 166px;
  height: 34px; }

.buttonSendBorder {
  width: 122px; }

.padding_RL {
  padding-right: 15px;
  padding-left: 15px; }

.sections {
  padding-top: 60px;
  padding-bottom: 50px; }

.h1_sections {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: lato;
  font-weight: 700;
  line-height: 36px;
  color: #f58220; }

.h2_sections {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: bold;
  margin-top: 16px;
  text-transform: uppercase;
  line-height: 28px; }

.h2_footer {
  font-size: 12px; }

.h3_info_graphic,
.h4_strategy {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  font-weight: bold; }

.h3_info_graphic {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px; }

.h4_info_graphic {
  margin-left: 15px;
  font-size: 11px;
  font-weight: bold; }

.h4_mission {
  font-size: 16px;
  letter-spacing: 1px; }

.mission_h5 {
  font-size: 14px;
  color: #fff;
  font-family: lato;
  line-height: 22px; }

.h5_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.p_sections {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400; }

.ul_sections {
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 28px;
  list-style-type: disc;
  margin-left: 15px; }

input,
textarea {
  border-radius: 0; }

input[type="submit"] {
  -webkit-appearance: none; }

.sections .p_first {
  margin-top: 16px; }

.sections .button {
  margin-top: 24px; }

.pup {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  z-index: 100;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.logo_nav_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000; }

.logo_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo_h1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5px 0; }

.h1_nav {
  font-family: lato;
  font-size: 24px;
  line-height: 100%;
  margin-left: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.mobile_nav {
  display: none; }

.mobile_nav.show {
  display: block; }

.logo {
  width: 40px; }

.burger_box {
  width: 26px; }

.menu {
  padding: 5px;
  width: 40px;
  height: 40px;
  position: relative; }

.burger_btn_on,
.burger_btn_off {
  display: none; }

.burger_btn_on.show,
.burger_btn_off.show {
  display: block;
  position: fixed;
  top: 14px;
  right: 14px;
  z-index: 101;
  width: 26px;
  height: 26px; }

.burger_btn_on,
.burger_btn_off {
  padding: 5px; }

.filter_pupup_box {
  background-color: rgba(28, 73, 96, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: -100%; }

.filter_pupup {
  background-color: #fff;
  position: fixed;
  width: 80%;
  height: 100%;
  top: 0;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto; }

@-webkit-keyframes leftPup {
  100% {
    left: 0%; } }

@keyframes leftPup {
  100% {
    left: 0%; } }

.filter_pupup_box.show {
  -webkit-animation: leftPup .2s linear both;
          animation: leftPup .2s linear both; }

@-webkit-keyframes rightPup {
  100% {
    left: 20%; } }

@keyframes rightPup {
  100% {
    left: 20%; } }

.filter_pupup.show {
  -webkit-animation: rightPup .1s linear both;
          animation: rightPup .1s linear both; }

.link {
  font-family: lato;
  color: #000;
  padding: 12px;
  margin: 12px;
  text-align: center; }

article {
  padding-top: 50px; }

header {
  margin-top: 50px;
  padding: 30px 0;
  height: 205px;
  color: #fff;
  font-family: lato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

header::before {
  background-image: url("../img/320/internetowy-biznes-tworzenie-stron-internetowych-misja.jpg"); }

.h1-header {
  font-size: 22px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.h2-header {
  font-size: 11px;
  letter-spacing: 2px;
  font-family: lato;
  font-weight: 700; }

.services,
.projects {
  text-align: justify; }

.services {
  color: #fff; }
  .services .button::before {
    border-color: #fff; }

.services::before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background-image: url("../img/test.jpg"); }

.strategy:nth-of-type(1) {
  margin-top: 0; }

.strategy {
  padding: 10px 15px;
  margin-top: 30px; }

.p_box::before {
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 60%;
  opacity: .15; }

.p_box_strategy_marketing::before {
  background-image: url("../img/icons/strategie/strategia_marketingowa.png"); }

.p_box_strategy_mark::before {
  background-image: url("../img/icons/strategie/strategia_marki.png"); }

.p_box_strategy_biznes::before {
  background-image: url("../img/icons/strategie/strategia_biznesowa.png"); }

.about {
  padding-left: 0;
  padding-right: 0; }

.mission {
  background-image: url("../img/320/internetowy-biznes-tworzenie-stron-internetowych-about.jpg");
  margin-top: 16px;
  height: 226px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  font-family: lato; }

.contactL {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 16px; }

.label_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px; }

label {
  font-size: 10px;
  font-weight: 400;
  color: #000;
  line-height: 100%; }

.input_contact {
  padding: 5px 3px;
  border: 1px solid rgba(0, 0, 0, 0.3); }

input[type=submit] {
  width: 100%;
  height: 100%;
  border: none;
  color: #fff; }

.footer {
  background-color: #233d4b;
  padding: 30px 15px;
  color: #fff;
  font-family: lato; }

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer li {
  margin: auto; }

.footer_socials {
  color: #f58220;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.footer_socials a {
  width: 22px;
  margin: 5px; }

.links_footer {
  font-size: 11px;
  padding: 10px;
  font-weight: bold; }

.footer_info {
  font-size: 8px;
  text-align: center; }

.link_footer {
  display: inline; }

section.sections {
  padding-top: 30px; }

.info_graphic_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0; }

@media only screen and (min-width: 480px) {
  .change_display {
    display: inline-block; }
  .p_box::before {
    background-size: 50%; }
  .padding_RL {
    padding-left: 45px;
    padding-right: 45px; } }

@media only screen and (min-width: 568px) {
  .padding_RL {
    padding-left: 40px;
    padding-right: 40px; } }

@media only screen and (min-width: 960px) {
  .pup,
  #wrapper {
    position: relative;
    width: 1000px;
    margin: auto; }
  header {
    height: 320px;
    margin-top: 0; } }
/*# sourceMappingURL=style.css.map */