@import 'variables';
@import 'default';

@import 'mediaQuery';
@import 'pupup';

article{
    // min-height: 100vh;
    padding-top: $height-nav;
}




// HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!! HEADER !!!!!!!!!!!!!!!!
header{
    margin-top: $height-nav;
    padding: 30px 0;
    height: 205px;
    color: #fff;
    font-family: lato;
    @include flexCenterColumn();
    justify-content: space-around;
}
header::before{
    background-image: url('../img/320/internetowy-biznes-tworzenie-stron-internetowych-misja.jpg');
    
}
.h1-header{
    font-size: 22px;
    line-height: 28px;
    @include flexCenterColumn();
}

.h2-header{
    font-size: 11px;
    letter-spacing: 2px;    
    font-family: lato;
    font-weight: 700;
}

.services,
.projects{
    text-align: justify;
    background-color: rgba(0,0,0,.05);
}

.services{
    color: #fff;
    transform: translate3d(0,0,0);
    background-image: url('../img/test.jpg');
    background-attachment: fixed;
    -webkit-overflow-scrolling: auto;
    background-position-x: 25%;
    .button::before{
        border-color: #fff;
    }
}

// strategy !!!!!!!!!!!!!!!!!!!!!!!!!!! strategy!!!!!!!!!!!!!!!!

.strategy:nth-of-type(1){
    margin-top: 0;
}

.strategy{
    // height: 100vh;
    // @include flexColumn();
    // justify-content: center;
    padding: 10px $pading_RL_in;
    margin-top: 30px;
}



.p_box::before{
    top:50%;
    right: 0px;
    
    transform: translateY(-50%);
    background-size: 60%;
    opacity: .15;
}
.p_box_strategy_marketing::before{
    background-image: url('../img/icons/strategie/strategia_marketingowa.png');
    
}

.p_box_strategy_mark::before{
    background-image: url('../img/icons/strategie/strategia_marki.png');
    
}

.p_box_strategy_biznes::before{
    background-image: url('../img/icons/strategie/strategia_biznesowa.png');
    
}





// ABOUT !!!!!!!!!!!!!!!!!!!!!!!  ABOUT !!!!!!!!!!!!!!!!!!
.about{
    padding-left: 0;
    padding-right: 0;
}

// .h1_about,
// .h2_about,
// .p_about{
//     padding-right: 15px;
//     padding-left: 15px;
// }



// MISSION !!!!!!!!!!!!!!!!!!!!!!!  MISSION !!!!!!!!!!!!!!!!!!
.mission{
    background-image: url('../img/320/internetowy-biznes-tworzenie-stron-internetowych-about.jpg');
    margin-top: 16px;
    height: 226px;
    @include flexCenterColumn;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    font-family: lato;
}

// CONTACTS !!!!!!!!!!!!!!!!!!!!!!!!!!! CONTACTS !!!!!!!!!!!!!!!!
// .contact{
//     padding: 0;
// }

.contactL{
    background-color: rgba(0,0,0,.1);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: $margin-top-text;
}

// .contactL .h2_sections{
//     margin-top: 0;
// }
.label_div{
    @include flexColumn;
    margin-top: $margin-top-text;
}

label{
    font-size: 10px;
    font-weight: 400;
    color: #000;
    line-height: 100%;
}

.input_contact{
    padding: 5px 3px;
    border: 1px solid rgba(0,0,0,.3);
    // height: 32px;
}

input[type=submit]{
    width: 100%;
    height: 100%;
    border: none;
    color: #fff;
}



// FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!! FOOTER !!!!!!!!!!!!!!!!
.footer{
    background-color: $color-logoB;
    padding: 30px $pading_RL_in;
    color: #fff;
    font-family: lato;
}

.footer ul{
    @include flexCenter();
}

.footer li{
    margin: auto;
}

.footer_socials{
    color: $color-logo;
    @include flex();
    justify-content: flex-end;
}

.footer_socials a{
    width: 22px;
    margin: 5px;
}


.links_footer{
    font-size: 11px;
    padding: 10px;
    font-weight: bold;
    // width: 60px;
}
.footer_info{
    font-size: 8px;
    text-align: center;
}
.link_footer{
    display: inline;
}


@import 'unsite';








//// MEDIA 360 //// MEDIA 360 //// MEDIA 360 //// MEDIA 360 //// MEDIA 360 //// MEDIA 360 //// MEDIA 360 //// MEDIA 360 //// MEDIA 360 //// MEDIA 360 //// MEDIA 360
@mixin media($breakpoint360){
    @if $breakpoint360 == w360 {
        @media only screen and (min-width: 360px) {@content}

    };
};

@include media(w360){
    .change_display{
        // display: inline-block;
    }
}



//// MEDIA 480 //// MEDIA 480 //// MEDIA 480 //// MEDIA 480 //// MEDIA 480 //// MEDIA 480 //// MEDIA 480 //// MEDIA 480 //// MEDIA 480 //// MEDIA 480 //// MEDIA 480 
@mixin media($breakpoint){
    @if $breakpoint == w480 {
        @media only screen and (min-width: 480px) {@content}

    };
};

@include media(w480){
    .change_display{
        display: inline-block;
    }
    .p_box::before{
        background-size: 50%;
        // left: 20%;
    }

    $pading_RL_in: 45px;
    .padding_RL{
        padding-left: $pading_RL_in;
        padding-right: $pading_RL_in;
    }
}


//// MEDIA 568 //// MEDIA 568 //// MEDIA 568 //// MEDIA 568 //// MEDIA 568 //// MEDIA 568 //// MEDIA 568 //// MEDIA 568 //// MEDIA 568 //// MEDIA 568 
@mixin media($breakpoint){
    @if $breakpoint == w568 {
        @media only screen and (min-width: 568px) {@content}
       
    };
};

@include media(w568){
    $pading_RL_in: 40px;
    .padding_RL{
        padding-left: $pading_RL_in;
        padding-right: $pading_RL_in
    }
}

//// MEDIA 960 //// MEDIA 960 //// MEDIA 960 //// MEDIA 960 //// MEDIA 960 //// MEDIA 960 //// MEDIA 960 //// MEDIA 960 //// MEDIA 960 //// MEDIA 960 //// MEDIA 960 //// MEDIA 960 
@mixin media($breakpoint){
    @if $breakpoint == w960 {
        @media only screen and (min-width: 960px) {@content}

    };
};

@include media(w960){
    .pup,
    #wrapper{
        position: relative;
        width: 600px;
        margin: auto;
    }
}


